page-login-page {

  .center{
    text-align: center;
  }

  .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }


    .cnt{
      background:#c0ced2;
    }

    .lst{
      background: #c0ced2;
    }

}
